/*light blue #B3D4FC;*/

body {
margin: 0px;
padding: 0px;
}

#defaultCanvas {
margin: 0px;
padding: 0px;
}



.btn {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 0;
  
}

.btn {
  background: #ED225D;
  background-image: -webkit-linear-gradient(top, #ED225D, #c72253);
  background-image: -moz-linear-gradient(top, #ED225D, #c72253);
  background-image: -ms-linear-gradient(top, #ED225D, #c72253);
  background-image: -o-linear-gradient(top, #ED225D, #c72253);
  background-image: linear-gradient(to bottom, #ED225D, #c72253);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  line-height: 1em;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

.dropdown {
  float:left;
}

.btn:hover {
  background: #f08baa;
  background-image: -webkit-linear-gradient(top, #f08baa, #d15c7f);
  background-image: -moz-linear-gradient(top, #f08baa, #d15c7f);
  background-image: -ms-linear-gradient(top, #f08baa, #d15c7f);
  background-image: -o-linear-gradient(top, #f08baa, #d15c7f);
  background-image: linear-gradient(to bottom, #f08baa, #d15c7f);
  text-decoration: none;
}



